<section class="cover">
  <h1 class="cover-titles visually-hidden">cover</h1>
  <ul class="cover-list">
    <li class="cover-list-item">
      <img
        class="cover-item-img"
        src="./Images/cover-img/first-screen-1-min.jpg"
        srcset="
          ./Images/cover-img/first-screen-1-min.jpg    1x,
          ./Images/cover-img/first-screen-1-x2-min.jpg 2x
        "
        alt="picture1"
      />
      <img
        class="cover-item-img"
        src="./Images/cover-img/Rectangle-4-min.jpg"
        srcset="
          ./Images/cover-img/Rectangle-4-min.jpg    1x,
          ./Images/cover-img/Rectangle-4-x2-min.jpg 2x
        "
        alt="picture2"
      />
      <img
        class="cover-item-img"
        src="./Images/cover-img/Rectangle-5-min.jpg"
        srcset="
          ./Images/cover-img/Rectangle-5-min.jpg    1x,
          ./Images/cover-img/Rectangle-5-x2-min.jpg 2x
        "
        alt="picture3"
      />
    </li>
    <li class="cover-list-item">
      <img
        class="cover-item-img"
        src="./Images/cover-img/Rectangle-6-min.jpg"
        srcset="
          ./Images/cover-img/Rectangle-6-min.jpg    1x,
          ./Images/cover-img/Rectangle-6-x2-min.jpg 2x
        "
        alt="picture5"
      />
      <img
        class="cover-item-img"
        src="./Images/cover-img/Rectangle-7-min.jpg"
        srcset="
          ./Images/cover-img/Rectangle-7-min.jpg    1x,
          ./Images/cover-img/Rectangle-7-x2-min.jpg 2x
        "
        alt="picture6"
      />
      <img
        class="cover-item-img"
        src="./Images/cover-img/Rectangle-8-min.jpg"
        srcset="
          ./Images/cover-img/Rectangle-8-min.jpg    1x,
          ./Images/cover-img/Rectangle-8-x2-min.jpg 2x
        "
        alt="picture7"
      />
    </li>
    <li class="cover-list-item">
      <img
        class="cover-item-img"
        src="./Images/cover-img/Rectangle-10-min.jpg"
        srcset="
          ./Images/cover-img/Rectangle-10-min.jpg    1x,
          ./Images/cover-img/Rectangle-10-x2-min.jpg 2x
        "
        alt="picture9"
      />
      <img
        class="cover-item-img"
        src="./Images/cover-img/Rectangle-11-min.jpg"
        srcset="
          ./Images/cover-img/Rectangle-11-min.jpg    1x,
          ./Images/cover-img/Rectangle-11-x2-min.jpg 2x
        "
        alt="picture10"
      />
      <img
        class="cover-item-img"
        src="./Images/cover-img/Rectangle-12-min.jpg"
        srcset="
          ./Images/cover-img/Rectangle-12-min.jpg    1x,
          ./Images/cover-img/Rectangle-12-x2-min.jpg 2x
        "
        alt=""
      />
    </li>
    <li class="cover-list-item">
      <img
        class="cover-item-img"
        src="./Images/cover-img/Rectangle-9-min.jpg"
        srcset="
          ./Images/cover-img/Rectangle-9-min.jpg    1x,
          ./Images/cover-img/Rectangle-9-x2-min.jpg 2x
        "
        alt="picture8"
      />
      <img
        class="cover-item-img"
        src="./Images/cover-img/first-screen-1-min.jpg"
        srcset="
          ./Images/cover-img/first-screen-1-min.jpg    1x,
          ./Images/cover-img/first-screen-1-x2-min.jpg 2x
        "
        alt="picture1"
      />
      <img
        class="cover-item-img"
        src="./Images/cover-img/Rectangle-10-min.jpg"
        srcset="
          ./Images/cover-img/Rectangle-10-min.jpg    1x,
          ./Images/cover-img/Rectangle-10-x2-min.jpg 2x
        "
        alt="picture9"
      />
    </li>
  </ul>
</section>
