<link rel="stylesheet" href="../css/styles.css" />

<footer class="footer">
    <div class="container">
        <div class="footer-contscts">
            <div class="footer-title_container">
                <a href="#" class="footer-link">
                    <img src="../Images/work/image.png">
                </a>
                <h1 class="foot-title">Let’s <span class="footer-logo">work</span></h1> 
                <h2 class="footer-tog">together</h2>
            </div>
    
            <div class="footer-clients_data">
                <form class="feedback-form" autocomplete="off">
                <div class="form-email">
                    <label for="email" class="form-label"></label>
                    <input
                    class="form-input"
                    type="email" 
                    name="email" 
                    id="mail"
                    placeholder="clients@gmail.com"
                    autofocus >
                </div>
                <div class="form-comment" >
                    <label for="coment" class="form-label"></label>
                    <textarea
                    class="form-input" 
                    name="comment" 
                    id="coment"  
                    placeholder="comments"
                    rows="1" 
                    autofocus 
                    
                    ></textarea>
                </div>
             </div>

             <div class="footer_buttons">
                    <button footer-modal-open type="send" class="buttons_title modal-open" >Send</button>
                    </form>
                </div>
    
            <address>
                <ul class=" footer-list">
                    <li class="item__email"><a href="lloydjefferson@gmail.com"class="footer-contact">lloydjefferson@gmail.com</a>
                    <li class="item__tel"><a href="tel:+3801111111111"class="footer-contact">+380 11 1111 11 11</a>
                </ul>
            </address>
         </div>   
    </div>
    </footer>
    
    
    
    
    <div class="foot-modal">
        <div class="foot-modal-body">
            <div class="foot-modal-content" >
                <a href="" class="modal-close" footer-modal-close> X</a>
        <form class="form" autocomplete="off"></form>
    
    
        <h1 class="foot-modal_title">Thank you for your interest in cooperation!</h1>
            <h2 class="foot-modal_comment">The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.</h2>
            
            </form>
            </div>
        </div>
    </div>
    
          <script src="./JS/work-together.js"></script>