* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: #1c1d20;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.benefits-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  padding-bottom: 32px;
  padding-top: 96px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.benefits-list-item {
  background-color: #242527;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.benefits-icon {
  margin: 24px;
  padding: 12px;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  background: #ed3b44;
  fill: transparent;
  stroke: #fafafa;
}

.benefits-list-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin: 0 auto;
  padding: 0 24px;
}

.benefits-list-text {
  padding: 8px 24px 24px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  text-align: left;
}

.benefits-scroll-btn {
  padding-bottom: 96px;
  margin-top: 32px;
}

.benefits-link-to-scroll {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 36px;
  width: 187px;
  height: 55px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-top: 32px;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .benefits-list-item {
    background: #242527;
    max-width: 344px;
  }

  .benefits-list-item {
    flex-basis: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    min-width: 1440px;
    padding: 0 100px;
  }

  .benefits-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .benefits-left-container {
    display: flex;
  }

  .benefits-right-container {
    display: flex;
    flex-direction: column;
    width: 680px;
  }

  .benefits-title {
    text-align: left;
    padding: 0;
    width: 284px;
  }

  .benefits-list {
    justify-content: flex-start;
  }
}
