* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: #242527;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

.benefits-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.benefits-list {
}

.benefits-list-item {
  margin: 16px;
}

.benefits-icon {
  margin: 24px;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  background: #ed3b44;
  fill: transparent;
  stroke: #ffffff;
}

.benefits-list-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-top: 64px;
  margin-bottom: 8px;
}

.benefits-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.benefits-link-to-scroll {
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .benefits-list-item {
    background: #242527;
  }

  .benefits-list {
    display: flex;
    flex-direction: row-reverse;
    flex-basis: calc((100% - 32px) / 2);
  }

  .benefits-list-item {
    flex-basis: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
